a {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: #8b8bb7;
    border: solid 2px #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #6a6a9b;
    border-color: #000;
}
